<div class="section-head">
  <div class="container">
    <h1>Nova Vaga</h1>
  </div>
  <!-- /.container -->
</div>
<div class="container inner">
  <div class="row">
    <section class="span8">
      <%= render 'form' %>
    </section>
    <div class="span4">
      Outro Lado
    </div>
  </div>
</div>
