<div class="section-head">
  <div class="container">
    <h1>New job</h1>
  </div>
  <!-- /.container --> 
</div>
<div class="container inner">
  <div class="row">
    <section class="span8">
      <%= render 'form' %>
      <%= link_to 'Back', jobs_path %>
    </section>
    <div class="span4">
      Outro Lado
    </div>
  </div>
</div>