<div class="section-head">
  <div class="container">
    <h1>New job</h1>
  </div>
  <!-- /.container --> 
</div>
<section class="span12">

  <%= render 'form' %>

  <%= link_to 'Back', jobs_path %>
</section>